.footer {
  background: var(--grey);
  border-radius: 24px;
  margin-bottom: clamp(73px, 9.1549vw, 130px);
  max-width: 1660px;

  @media (min-width: (1706px)) {
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: (1705px)) {
    @include for-laptop {
      margin-left: 30px;
      margin-right: 30px;
    }
  }

  @include laptop {
    margin-left: var(--container-offset);
    margin-right: var(--container-offset);
  }

  @include for-desktop {
    padding: 65px 0 58px;
  }

  @include desktop {
    @include for-tablet {
      border: clamp(14px, 1.4085vw, 20px);
      margin-bottom: clamp(20px, 5.1408vw, 73px);
      padding: clamp(30px, 3.5211vw, 50px) 0 clamp(30px, 3.3803vw, 48px);
    }
  }

  @include tablet {
    --container-offset: 21px;
    
    border-radius: 14.224px;
    margin-bottom: clamp(9px, 1.953vw, 20px);
    padding: 30px 0;
  }

  @include small-tablet {
    padding: 35px 0 20px;
    border-radius: 20px;
  }

  @include mobile{
    --container-offset: 10px;
  }

  .container {
    max-width: 100%;

    @include for-desktop {
      padding: 0 clamp(50px, 3.614vw, 60px) 0 clamp(70px, 5.06vw, 84px);
    }

    @include desktop {
      @include for-laptop {
        padding: 0 clamp(36px, 3.5211vw, 50px) 0 clamp(50px, 4.9296vw, 70px);
      }
    }

    @include laptop {
      @include for-mobile {
        padding: 0 clamp(20px, 3.516vw, 36px) 0 clamp(20px, 4.883vw, 50px);
      }
    }

    @media (max-width: (875px)) {
      padding: 0 20px;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 23px;

    @include desktop {
      @include for-tablet {
        gap: 8px;
      }
    }

    @include tablet {
      gap: 18px;
    }
  }

  &__made {
    justify-self: end;
    display: flex;
    width: 237px;
    height: 27px;

    @include desktop {
      @include for-tablet {
        width: clamp(140px, 13.9437vw, 198px);
        height: clamp(16.5px, 1.6197vw, 23px);
      }
    }

    @include tablet {
      @include for-small-tablet {
        width: 140px;
        height: 16.5px;
      }
    }

    @include small-tablet {
      width: 190px;
      height: 23px;
      justify-self: center;
    }

    svg,
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    color: var(--white);
    font-family: var(--second-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include desktop {
      font-family: var(--third-family);

      @include for-tablet {
        font-size: clamp(10px, 0.8451vw, 12px);
        line-height: 150%;
      }
    }

    @include tablet {
      @include for-small-tablet {
        font-size: 10px;
        line-height: 140%;

        margin-top: -26px;
      }
    }

    @include small-tablet {
      text-align: center;
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: clamp(117px, 9.337vw, 155px);

    .socials {
      min-width: clamp(248px, 17.952vw, 298px);

      @include desktop {
        min-width: clamp(176px, 17.4648vw, 248px);
      }

      @include tablet {
        min-width: 176px;
      }
    }

    @include desktop {
      @include for-tablet {
        gap: clamp(104px, 9.1549vw, 130px);
      }
    }

    @include tablet {
      @include for-small-tablet {
        gap: clamp(30px, 10.156vw, 104px);
      }
    }

    @include small-tablet {
      gap: 30px;
      grid-template-columns: 100%;

      .socials {
        order: -1;
        margin-bottom: 14px;

        &__link {
          width: 26px;
          height: 25px;
        }
      }
    }
  }

  &__logo {
    width: clamp(239px, 20.2113vw, 287px);
    height: clamp(30px, 2.5352vw, 36px);
    display: flex;

    @include desktop {
      @include for-tablet {
        width: clamp(170px, 16.831vw, 239px);
        height: clamp(21px, 2.1127vw, 30px);
      }
    }

    @include laptop {
      @include for-small-tablet {
        width: 170px;
        height: 21px;
      }
    }

    @include small-tablet {
      width: 310px;
      height: 39px;
    }

    svg,
    img {
      width: 100%;
      height: auto;
    }
  }

  &__top {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: clamp(107px, 6.446vw, 129px);

    @media (max-width: (1480px)) {
      @include for-tablet {
        gap: 95px;
      }
    }

    @include tablet {
      @media (min-width: (1000px)) {
        gap: 80px;
      }
    }

    @media (max-width: (999px)) {
      gap: clamp(20px, 4.004vw, 40px);
    }

    @include small-tablet {
      gap: 40px;
      grid-template-columns: 100%;
    }
  }

  &__nav {
    display: flex;

    ul {
      display: grid;
      grid-template-columns: repeat(3, auto);
      height: fit-content;
      gap: 12px clamp(71px, 5.06vw, 84px);

      @include desktop {
        gap: 10px 71px;
      }

      @include laptop {
        gap: 10px 50px;
      }

      @media (max-width: (875px)) {
        gap: 10px 20px;
      }

      @include small-tablet {
        gap: 16px;
        max-width: 550px;
        width: 100%;
      }

      @include mobile {
        grid-template-columns: auto 1fr;
        gap: 16px 48px;
      }

      li {
        display: flex;

        &:last-of-type {
          @include for-small-tablet {
            display: contents;
          }

          @include small-tablet {
            grid-column: 1/-1;
          }
        }
      }

      a {
        display: flex;
        font-family: var(--second-family);
        color: var(--white);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        white-space: nowrap;

        @include desktop {
          font-size: 13px;
        }

        @include laptop {
          @include for-tablet {
            font-size: clamp(10px, 1.048vw, 13px);
          }

          @include for-small-tablet {
            font-family: var(--third-family);
            line-height: 14px;
          }
        }

        @include tablet {
          @include for-small-tablet {
            font-size: 10px;
          }
        }

        &:hover {
          color: var(--green-2);
        }
      }

      &.footer__nav-sublist {
        margin-top: 28px;
        gap: 20px;
        display: flex;

        @include for-small-tablet {
          display: contents;
        }
      }
    }

    @include small-tablet {
      align-items: center;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    grid-gap: 12px;
    min-width: clamp(248px, 17.952vw, 298px);

    @include desktop {
      gap: 10px;
      min-width: clamp(176px, 17.4648vw, 248px);
    }

    @include laptop {
      min-width: 176px;
    }

    @include small-tablet {
      margin-top: 4px;
    }

    ul:not([class]) {
      display: flex;
      flex-direction: column;
      grid-gap: 12px;

      @include desktop {
        gap: 10px;
      }

      li {
        display: flex;
        align-items: center;
        grid-gap: 10px;

        span {
          font-family: var(--second-family);
          color: var(--white);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;

          @include desktop {
            @include for-tablet {
              font-size: clamp(10px, 0.9155vw, 13px);
            }
          }

          @include tablet {
            @include for-mobile {
              font-size: 10px;
            }
          }

          @include small-tablet {
            font-size: 13px;
          }
        }

        a {
          font-family: var(--second-family);
          color: var(--white);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          transition: all 0.3s;
          text-decoration: underline;
          text-underline-offset: 3px;
          text-decoration-color: transparent;

          i {
            text-decoration: underline;
            text-underline-offset: 3px;
            font-style: normal;
            color: var(--white);
            transition: text-decoration-color 0.3s;
            text-decoration-color: var(--white);
          }

          @include desktop {
            @include for-tablet {
              font-size: clamp(10px, 0.9155vw, 13px);
            }
          }

          @include tablet {
            @include for-mobile {
              font-size: 10px;
            }
          }

          @include small-tablet {
            font-size: 13px;
          }

          &:hover {
            color: var(--green-2);
            text-decoration-color: inherit;

            i {
              color: var(--green-2);
              text-decoration-color: transparent;
            }
          }
        }
      }
    }
  }
}
