<footer class="footer">
  <div class="container">
    <div class="footer__box">
      <div class="footer__top">
        <a href="/" class="footer__logo" aria-label="logo">
          <svg width='287' height='36'>
            <use href='img/sprite/sprite.svg#logo'></use>
          </svg>
        </a>

        <nav class="footer__nav">
          <ul>
            <li>
              <a href="#">Apartment moving</a>
            </li>
            <li>
              <a href="#">Office relocation</a>
            </li>
            <li>
              <a href="#">Moving services</a>
            </li>
            <li>
              <a href="#">About Us</a>
            </li>
            <li>
              <a href="#">Contacts</a>
            </li>
            <li>
              <a href="#">Blog</a>
            </li>
            <li>
              <a href="#">GDPR</a>
            </li>
            <li>
              <a href="#">Bohag 2010</a>
            </li>
            <li>
              <a href="#">Kontor 2003</a>
            </li>
          </ul>
        </nav>

        <div class="footer__contacts">
          <ul>
            <li>
              <a href="tel:4687760058">
                +46 8 776 00 58
              </a>
            </li>
            <li>
              <a href="mailto:info@ftsw.se">
                info@ftsw.se
              </a>
            </li>
            <li>
              <span>
                Karlavägen 18, BV, 114 31<br> Stockholm, Sverige
              </span>
            </li>
            <li>
              <a href="#"><i> find on the map</i></a>
            </li>
          </ul>

        
        </div>
      </div>

      <div class="footer__bottom">
        <span class="footer__text">
          Forward Transport Sweden AB.<br>
          Org.nr: 559491-3914<br>
          All rights reserved © 2025
        </span>

        <a href="#" class="footer__made">
          <svg width='163' height='25'>
            <use href='img/sprite/sprite.svg#made'></use>
          </svg>
        </a>

        <ul class="socials">
          <li class="socials__item">
            <a class="socials__link" href="#">
              <svg width='31' height='30'>
                <use href='img/sprite/sprite.svg#fb'></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#">
              <svg width='31' height='30'>
                <use href='img/sprite/sprite.svg#inst'></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#">
              <svg width='31' height='30'>
                <use href='img/sprite/sprite.svg#youtube'></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
        
    </div>
  </div>
</footer>