<header class="header fixed-block">
  <div class="container container--mode">
    <div class="header__box">
      <a href="/" class="header__logo" aria-label="logo">
        <svg width='171' height='43'>
          <use href='img/sprite/sprite.svg#logo2'></use>
        </svg>
      </a>

      <a href="#" class="header__link">
        <svg width='22' height='22'>
          <use href='img/sprite/sprite.svg#phone'></use>
        </svg>
      </a>

      <button class="burger">
        <span class="burger__line"></span>
      </button>

      <div class="mobile">
        <div class="mobile__box">
          <div class="mobile__top">
            <a href="/" class="header__logo" aria-label="logo">
              <svg width='117' height='29'>
                <use href='img/sprite/sprite.svg#logo3'></use>
              </svg>
            </a>

            <div class="header-lang">
              <button class="header-lang__open">
                <svg width='10' height='5'>
                  <use href='img/sprite/sprite.svg#arrow-b'></use>
                </svg>
                EN
              </button>
              <div class="header-lang__wrapp">
                <a class="header-lang__btn">SK</a>
              </div>
            </div>

            <button class="burger">
              <span class="burger__line"></span>
            </button>
          </div>

          <nav class="header__nav">
            <ul>
              <li>
                <a href="moving.html">Apartment moving</a>
              </li>
              <li>
                <a href="#">Office relocation</a>
              </li>
              <li>
                <a href="#">Moving services</a>
              </li>
              <li>
                <a href="#">About Us</a>
              </li>
              <li>
                <a href="contacts.html">Contacts</a>
              </li>
            </ul>
          </nav>

          <div class="mobile__bottom">

          <a href="#" class="main-btn"><span>kostnadsfri offert</span>
            <span class="main-btn__icon">
              <svg width='17' height='16'>
                <use href='img/sprite/sprite.svg#arrow'></use>
              </svg>
            </span>
          </a>

          <a href="#" class="header__link">
            <svg width='21' height='21'>
              <use href='img/sprite/sprite.svg#phone'></use>
            </svg>
          </a>
        </div>
        </div>
      </div>



    </div>
  </div>
</header>