.accordion {
  display: flex;
  flex-direction: column;

  padding: 0 50px 53px;
  gap: 20px;

  @include desktop {
    @include for-tablet {
      padding: 0 clamp(21px, 2.5vw, 30px) clamp(20px, 3.25vw, 39px)
        clamp(27px, 3.0833vw, 37px);
    }
  }

  @include tablet {
    padding: 0 clamp(10px, 2.051vw, 21px) 20px clamp(10px, 2.637vw, 27px);
  }

  &__item {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    border: 1px solid var(--white);
    background: var(--white);
    box-shadow: 0px 5.627px 5.627px 0px #e5e5e5;

    @include desktop {
      @include for-tablet {
        border-radius: clamp(28px, 3.3333vw, 40px);
        box-shadow: 0px 4px 4px 0px #e5e5e5;
      }
    }

    @include tablet {
      border-radius: clamp(20px, 2.734vw, 28px);
      @include for-mobile {
        box-shadow: 0px 2.844px 2.844px 0px #e5e5e5;
      }
    }

    @include mobile {
      box-shadow: 0px 4px 4px 0px #e5e5e5;
    }

    &.active {
      .accordion__btn {
        color: var(--green);
      }
      svg {
        transform: scaleY(1);
      }
    }
  }

  &__btn {
    padding: 20px 60px 20px 50px;
    color: var(--grey);
    font-family: var(--second-family);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    gap: 10px;
    transition: all 0.3s;
    white-space: normal;
    text-align: start;
    @include mobile {
      max-height: 68px;
    }

    svg {
      width: 22px;
      height: 34px;
      margin-top: 2px;
      transition: transform 0.2s;
      transform: scaleY(-1);
      flex-shrink: 0;
    }

    @include for-desktop {
        margin-bottom: 10px;
      }

    @include desktop {
      @include for-tablet {
        margin-bottom: 7px;
        font-size: clamp(21px, 2vw, 24px);
        line-height: 125%;
        padding: clamp(14px, 1.6667vw, 20px) clamp(49px, 5.8333vw, 70px)
          clamp(11px, 1.6667vw, 20px) clamp(30px, 3.5833vw, 43px);

        svg {
          width: clamp(13px, 1.5vw, 18px);
          height: clamp(20px, 2.3333vw, 28px);
        }
      }
    }

    @include tablet {
      font-size: 21px;
      line-height: 25px;
      padding: 14px clamp(10px, 4.785vw, 49px) 11px clamp(15px, 2.93vw, 30px);
      
      @include for-mobile{
        margin-bottom: 6px;
      }

      svg {
        width: 13px;
        height: 20px;
      }
    }

    @include mobile {
      padding: 22px 10px 21px 15px;
      svg {
        width: 18px;
        height: 28px;
      }
    }

    &:hover {
      color: var(--green);
    }

    &.open {
      color: var(--green);

      svg {
        transform: scaleY(1);
      }
    }
  }

  &__text {
    color: var(--grey);
    font-family: var(--second-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;

    @include desktop {
      @include for-tablet {
        font-size: clamp(12px, 1.3333vw, 16px);
        line-height: 100%;
      }
    }

    @include tablet {
      font-size: 12px;
      line-height: 11.378px;
    }

    @include mobile{
        font-size: 14px;
        line-height: 142.857%;
    }
  }

  &__value {
    color: var(--grey);
    font-family: var(--second-family);
    font-size: 19.695px;
    font-style: normal;
    font-weight: 300;
    line-height: 22.508px;
    white-space: nowrap;

    @include desktop {
      @include for-tablet {
        font-size: clamp(10px, 1.1667vw, 14px);
        line-height: 16px;
      }
    }

    @include tablet {
      @include for-mobile {
        font-size: 10px;
        line-height: 11.378px;
      }
    }

    @include mobile {
      font-family: var(--third-family);
      font-size: 12px;
      line-height: 18px;
    }

    b {
      text-align: right;
      color: var(--grey);
      font-family: var(--second-family);
      font-size: 22.508px;
      font-weight: 700;
      line-height: 100%;

      @include desktop {
        @include for-tablet {
          font-size: clamp(12px, 1.3333vw, 16px);
          line-height: 100%;
        }
      }

      @include tablet {
        @include for-mobile {
          font-size: 12px;
          line-height: 94.815%;
        }
      }

      @include mobile {
        font-family: var(--second-family);
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
      }
    }
  }

  &__content {
    @include for-desktop {
      margin-top: -10px;
    }

    @include desktop {
      @include for-tablet {
        margin-top: -7px;
      }
    }

    @include tablet {
      @include for-mobile {
        margin-bottom: -6px;
      }
    }
  }

  &__pretitle {
    color: var(--grey-3);
    text-align: right;
    font-family: var(--second-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 22.508px;

    @include desktop {
      @include for-tablet {
        font-size: clamp(10px, 1vw, 12px);
        line-height: 133.333%;
      }
    }

    @include tablet {
      @include for-mobile {
        font-size: 10px;
        line-height: 11.378px;
      }
    }

    @include mobile {
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__inner {
    padding: 0 60px 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include desktop {
      @include for-tablet {
        padding: 0 clamp(49px, 5.8333vw, 70px) clamp(14px, 1.6667vw, 20px)
          clamp(30px, 3.5833vw, 43px);
        gap: 14px;
      }
    }

    @include tablet {
      padding: 0 clamp(10px, 4.785vw, 49px) 11px clamp(15px, 2.93vw, 30px);
    }

    @include mobile {
      padding: 0 15px 21px;
      gap: 10px;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;

      @include tablet {
        @include for-mobile {
          gap: 7px;
        }
      }

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding-bottom: 10px;
        border-bottom: solid 1px #f3f3f3;

        @include tablet {
          @include for-mobile {
            padding-bottom: 8px;
          }
        }

        @include mobile {
            gap: 27px;
          width: calc(100% + 30px);
          margin: 0 -15px;
          padding: 0 15px 10px;
        }
      }
    }

    p {
      color: var(--grey-2);
      font-family: var(--second-family);
      font-size: 19.695px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;

      @include desktop {
        @include for-tablet {
          font-size: clamp(10px, 1.1667vw, 14px);
        }
      }

      @include tablet {
        @include for-mobile {
          font-size: 10px;
        }
      }

      @include mobile {
        color: var(--grey-3);
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}




