:root {
  // --------------- default global variables ---------------
  // --error-bg: #d01f1f;
  --body-bg: #FFF;
  --body-font-size: 16px;
  --content-width: clamp(1180px, 83.041vw, 1420px);
  --content-width-mode: 1660px;

  --container-offset: clamp(16px, 1.6667vw, 24px);
  --container-offset-mode: clamp(21px, 2.1127vw, 30px);

  @include desktop{
    --content-width: clamp(840px, 81.944vw, 1180px);
  }

  @include mobile{
    --container-offset: 30px;
    --container-offset-mode: 30px;
  }

  --content-width-mini: 952px;
 
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-width-mode: calc(var(--content-width-mode) + (var(--container-offset) * 2));


  --container-width-mini: calc(var(--content-width-mini) + (var(--container-offset) * 2));

  // --------------- default scroll variables ---------------
  --scrollbar-thumb:  #6c947c;
  --scrollbar-track: rgba(0, 0, 0, 0.18);
  --scrollbar-track-hover: transparent;
  --overlay-bg: rgba(0, 0, 0, 0.5);

    // --------------- default JS variables ---------------
    --header-height: 160px;
 
    @include tablet{
      --header-height: 84px;
    }

    @include small-tablet{
      --header-height: 76px;
    }

  // --------------- default font-family variables ---------------

  --font-family: "PT-Sans", sans-serif; // var(--font-family);
  --second-family: "Inter", sans-serif; // var(--second-family);
  --third-family: "Montserrat", sans-serif; // var(--third-family);


  --font3:  "DM-Sans", sans-serif; // var(--font3);
  --font4:  "Ubuntu", sans-serif; // var(--font4);

   // --------------- default color variables ---------------
   --grey: #303030; // var(--grey);
   --white: #fff; // var(--white);
   --green: #88a795; // var(--green);
   --light-gray: #f8f8f8; // var(--light-gray);
   --yellow: #feffcc; // var(-yellow);
   --grey-2: #747474; // var(--grey-2);
   --grey-3: #bababa; // var(--grey-3);
   --grey-4: #f3f3f3; // var(--grey-4);
   --grey-5: #cbcbcb; // var(--grey-5);
   --green-2: #88a795; // var(--green-2);
   
  // --------------- default text color variables ---------------
  --cl-a: #ffffff; // var(--cl-a);
  --cl-b: #000000; // var(--cl-b);
  --cl-c:  #D9D9D9; // var(--cl-c);




  --cl-d: #000f9f; // var(--cl-d);
  --cl-e:  #01073d; // var(--cl-e);
  --cl-f: #b6a7a4; // var(--cl-f);
  --cl-g: #DB6550; // var(--cl-g);
 

  // --------------- default border color variable ---------------
  --br-a: rgba(255, 255, 255, .4); // var(--br-a);

}       


